@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Varela Round", sans-serif;
  scroll-behavior: smooth;
}
.carousel-item img {
  height: 90vh;
}
.container-fluid img{
    width: 5%;
    height: 1.7%;
}
.nav-link{
    color: white;
}
.card {
  width: 30%;
  padding: 50px;
  height: 10%;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }
 .card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }

 .card:hover {
  border-color: #a0adb8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 @media only screen and (max-width: 900px){
  .card-container{
    flex-direction: column;
  }
  .card{
    margin: 20px 0px;
  }
 }

 .contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  margin: 0px auto;
}

.contact-form label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 180px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.contact{
  margin: 0px 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.card-body h3{
  text-decoration: none;
}









